body {
  font-family: FiraSans;
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 1.07;
  text-transform: uppercase;
  color: var(--main-text);
  background-color: var(--backround-color);
}
