.shop {
  background-image: url(/img/shop-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.shop__title {
  margin-left: 245px;
  margin-bottom: 244px;
  padding: 0;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 156px;
  text-transform: uppercase;
  color: #ffffff;
}

.surf__style {
  margin-bottom: 8px;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 7.33333px;
  text-transform: uppercase;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.surf__name {
  margin-bottom: 78px;
  width: 481px;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
}

.surf__price {
  position: relative;
  margin-bottom: 67px;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;

  &::before {
    position: absolute;
    left: 0;
    bottom: 52px;
    content: '';
    background-image: url(img/Star.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 154px;
    height: 22px;
    background-color: #ffffff;
  }
}

.surf {
  display: flex;
  justify-content: space-between;
}

.surf__extras-list {
  display: flex;
  list-style: none;
  align-items: baseline;
  justify-content: center;
}

.surf__extras-name {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-bottom: 16px;
}

.surf__extras-price {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.surf__extras-photo {
  margin-bottom: 36px;
  margin-right: 0;
}

.surf__extras-photo--margin {
  margin-bottom: 46px;
  align-items: center;
  margin-right: 0;
  padding: 0;
}

.surf__extras-item {
  align-items: baseline;
  justify-content: center;
  margin-right: 57px;
}
.surf__pic {
  margin: 0;
  padding: 0;
  width: 103px;
  height: 105px;
}

.surf__attributes {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.surf__extras {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 25px;
}

.btn__shop {
  width: 234px;
  height: 80px;
  border: none;
  padding: 0;
}

.surf__photo {
  position: relative;
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 20px;
    height: 20px;
    background-image: url(img/Oval.svg);
    background-color: red;
  }
}
