.shop {
  padding-top: 130px;
  padding-bottom: 142px;
  padding-left: 133px;
  //   background-image: url(img/shop_1.png);
  //   z-index: 1;

  background-image: url(/img/shop-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.container__bg {
  position: relative;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-image: url(/img/shop_bg.png);
  background-repeat: no-repeat;
  background-position: 380px 411px;
  mix-blend-mode: normal;
  opacity: 0.85;
}
.shop__title {
  position: relative;
  margin-left: 245px;
  margin-bottom: 193px;
  padding: 0;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 156px;
  text-transform: uppercase;
  color: #ffffff;
  &::before {
    position: absolute;
    content: "";
    background-image: url(/img/shop_1.png);
    left: -280px;
    bottom: -75px;
    width: 508px;
    height: 156px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.surf__style {
  margin-bottom: 8px;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 7.33333px;
  text-transform: uppercase;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.surf__name {
  margin-bottom: 78px;
  width: 481px;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
}

.surf__price {
  position: relative;
  margin-bottom: 67px;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;

  &::before {
    position: absolute;
    left: 0;
    bottom: 52px;

    content: "";
    background-image: url(/img/Star.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 154px;
    height: 22px;
  }
}

.surf {
  display: flex;
  justify-content: space-between;
}

.surf__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.surf__extras-list {
  display: flex;
  list-style: none;
  align-items: baseline;
  justify-content: center;
}

.surf__extras-name {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-bottom: 16px;
}

.surf__extras-price {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.surf__extras-photo {
  margin-bottom: 36px;
  margin-right: 0;
}

.surf__extras-photo--margin {
  margin-bottom: 46px;
  align-items: center;
  margin-right: 0;
  padding: 0;
}

.surf__extras-item {
  align-items: baseline;
  justify-content: center;
  margin-right: 57px;
}
.surf__pic {
  margin: 0;
  padding: 0;
  width: 103px;
  height: 105px;
}

.surf__attributes {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1;
}

.surf__extras {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 25px;
}

.btn__shop {
  width: 234px;
  height: 80px;
  border: none;
  padding: 0;
}

.surf__photo {
  position: relative;
  z-index: 1;
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 20px;
    height: 20px;
    background-image: url(/img/Oval.svg);
  }
}
